@import url(http://fonts.googleapis.com/css?family=Sniglet);

html {
overflow-y: scroll; 
}
html *
{
    font-family: 'Sniglet';
    font-size: 110% !important;
}
#admin {
	font-size: 75% !important;	
}
.panel {
  margin-top: 10px;
  margin-bottom: 10px;
}
.label {
	font-size: 135% !important;
}

.container-fluid {
  	padding-top: 6px;
}

footer p {
    color: rgb(82, 79, 79);
  	padding-left: 5px;
}
#catName {
    font-weight: bold;
  	text-shadow: 1.6px 1.6px 0px #FFFFFF;
  	color: rgb(123, 74, 18);
}

.catimg {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0px auto;
    height: auto;
    transition: width 0.5s ease-in;
}
.imagecontainer {
    background: url('loading.GIF') 0 0 no-repeat;
    background-position: center center;
    min-height: 70px;

}

.panel-heading {
  padding: 5px 7.5px;
}

@media only screen and (max-height : 480px) and (orientation:landscape) {  

.catimg {
	width: 75%;
}


}

@media only screen and (max-width: 767px) {
    /* phones */



.container-fluid {
  padding-right: 2px; 
  padding-left: 2px; 
}


}

